:root{
    --main-color : #3eb9de;
    --bg-color : #0f202d;
    --text-color : #669394;
    --white-color : #ffffff;
}
.dark{
    --main-color : #00526b;
    --bg-color : #b5b5b5;
    --text-color : #1d3d3d;
    --white-color : #313131;
}