.scroller {
    background-color: var(--main-color);
    width: 0px;
    height: 5px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    transition: all .3s linear !important;
}